version: 2
jobs:
  build:
    working_directory: ~/my-project
    docker:
      - image: cimg/node:22.21.1-browsers
    steps:
      - checkout
      - restore_cache:
          key: AngularCircleCI-{{ .Branch }}-{{ checksum "package.json" }}
      - run: npm install
      - save_cache:
          key: AngularCircleCI-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "node_modules"
      - run: xvfb-run -a npm run lint:lib
      - run: xvfb-run -a npm run test:lib:coveralls
      - run: xvfb-run -a npm run build:lib
